<div class="row justify-content-center">
    <div class="col-md-5 align-self-center">
        <p *ngIf = "signUpSuccess" class="alert alert-success text-center">
            Your account is created! Login in to continue
        </p>
        <!-- dynamically loading app-alert if error is truthy. Now lets do the same manually in login.component.ts-->
        <!-- <app-alert [message] = "error" *ngIf = "error" (close) = "onAlertClose()"></app-alert> -->

        <ng-template appAlertPlaceHolder></ng-template><!-- required for manually putting app-alert-->
        <div *ngIf = "isLoading">
            <span class="text-center">Login...</span> 
            <span class="spinner-border" role="status">
             </span>
        </div>
        <div class="card" *ngIf = "!isLoading">
            <div class="card-header bg-dark text-light">
                Login to access your Recipe Book
            </div>
            <div class="card-body">
                <form #loginForm = "ngForm" (ngSubmit) = "onSubmit()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" ngModel required email #emailRef = "ngModel" name = "email" id = "email" class="form-control"/>
                        <span class="help-block text-danger" *ngIf = "emailRef.hasError('required') && emailRef.touched">
                            Email is required
                        </span>
                        <span class="help-block text-danger" *ngIf = "emailRef.hasError('email') && emailRef.touched">
                            Email is not valid
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" #passwordRef = "ngModel" ngModel required minlength = "6" name = "password" id = "password" class="form-control"/>
                        <span class="help-block text-danger" *ngIf = "passwordRef.hasError('required') && passwordRef.touched">
                            Password is required
                        </span>
                        <span class="help-block text-danger" *ngIf = "passwordRef.hasError('minlength') && passwordRef.touched">
                            Password should be minimum 6 characters long
                        </span>
                    </div>
                    <button type = "submit" class="btn btn-primary" [disabled] = "!loginForm.valid">Login</button>
                </form>
            </div>
            
        </div>
        </div>        
</div>