 <div class="row">
    <div class="col-md-10">
        <!-- <app-shopping-edit (ingredientAdded) = "addIngredient($event)"></app-shopping-edit> -->
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a (click) = "onEdit(id)" class="list-group-item list-group-item-action clearfix" *ngFor = "let ingredient of ingredientList; let id = index">
                {{ingredient.name}} ({{ingredient.amount}})
            </a>
        </ul>
    </div>
</div>
